[Unit]
Description=Ferdium Server
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__INSTALL_DIR__
Environment=NODE_ENV=production
Environment=ENV_PATH=__INSTALL_DIR__/.env
Environment="PATH=__PATH_WITH_NODEJS__"
ExecStart=__NODEJS_DIR__/node __INSTALL_DIR__/build/server.js
Restart=on-failure
RestartSec=5
PrivateTmp=true
NoNewPrivileges=true
ProtectSystem=full
ProtectHome=true
ReadWritePaths=__INSTALL_DIR__ __DATA_DIR__

[Install]
WantedBy=multi-user.target
